<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
	<targets>
		<target 
			name="file" 
			xsi:type="File"
			fileName="${gdc:item=appbasepath}/logs/log-${shortdate}.txt"
			createDirs="true"
			layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=ToString}"
			archiveEvery="Day"/>		
		<target 
			name="console" 
			xsi:type="Console" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file"/>
	</rules>
</nlog>
